.secondaryButton {
    font-size: 17px;
    padding: 10px 32px;
    border: 1px solid var(--color-primary-text);
    background-color: var(--color-background);
    font-family: var(--font-primary);
    color: var(--color-primary-text);

}