.heroSection {
    background-image: url('../../images/hero.jpg');
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 100%;
    background-position: center;

    @media screen and (min-width: 768px) {
        width: 375px;
    }
}

.heroName {
    width: 100%;
}