.branchIcon {
    display: block;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

.invitationText {
    text-align: center;
    font-family: var(--font-primary);
    font-size: 22px;
}

.invitationName {
    font-family: 'Scriptorama';
    font-size: 50px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #000;
    max-width: 452px;
    margin: 20 auto;
}

.datePicker {
    width: 100%;
    margin: 0;
    display: block;
}