@import-normalize;
@import url('/src/stylesheet/fonts.css');

/* bring in normalize.css styles */
:root {
  --color-primary-text: #1d1d1d;
  --color-background: #ffffff;
  --color-btn-background: rgb(245, 111, 161, 0.2);

  --font-primary: 'Prata';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Prata', sans-serif;
  color: var(--color-primary-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}